<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3">{{ getName() }}' todo list</h3>
      <div class="input-group mb-3">
        <input #inputTodo type="text" class="form-control" name="" id="" />
        <!-- <input
          #inputTodo
          type="text"
          class="form-control"
          name=""
          id=""
          (keyup.enter)="addItem(inputTodo.value)"
          (blur)="addItem(inputTodo.value)"
        /> -->
        <button
          type="submit"
          class="btn btn-outline-primary"
          (click)="addItem(inputTodo.value); inputTodo.value = ''"
        >
          Ekle
        </button>
      </div>
      <div class="form-check mb-3">
        <input
          [(ngModel)]="displayAll"
          type="checkbox"
          class="form-check-input pr-2"
          name=""
          id="displayAll"
        />
        <label for="displayAll" class="form-check-label">Hepsini Göster</label>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of getItems(); let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ items.description }}</td>
            <td>{{ items.action }}</td>
            <td>
              <input
                type="checkbox"
                [(ngModel)]="items.action"
                name="itemCheckbox"
                id="itemCheckbox"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div>
        <p *ngFor="let item of items">
          {{ item.description }}
        </p>
      </div> -->
    </div>
  </div>
</div>
