<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3">To Do App</h3>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="" id="" />
        <button type="submit" class="btn btn-outline-primary">Ekle</button>
      </div>
      <div class="form-check mb-3 cursor-wait">
        <input
          type="checkbox"
          class="form-check-input pr-2 cursor-wait"
          name=""
          id="displayAll"
        />
        <label for="displayAll" class="cursor-wait form-check-label"
          >Hepsini Göster</label
        >
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Kahvaltı</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Spor</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Alışveriş</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
